<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>May the node be with you!</h1>
    <form action="/quotes" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="quote" placeholder=" quote">
        <button type="submit">Submit</button>
    </form>
    <ul>
        <% for(let i=0; i < quotes.length; i++) { %>
            <li>
                <ul>
                    <li>Name:
                        <%= quotes[i].name %>
                    </li>
                    <li>Quote:
                        <%= quotes[i].quote %>
                    </li>
                    <li>
                        <form action="/quotes/<%= quotes[i]._id %>" method="POST"><input type="submit" value="delete">
                        </form>
                    </li>
                </ul>
            </li>
            <% } %>
    </ul>
</body>

</html>